#!groovy
import hudson.security.*
import jenkins.model.*
import org.jenkinsci.plugins.*

def instance = Jenkins.getInstance()

{% if ldap.enabled == true %}  
String server = "{{ ldap.host }}"
String rootDN = "{{ ldap.rootDN }}"
String userSearchBase = ''
String userSearch = "{{ ldap.userSearch }}"
String groupSearchBase = "{{ ldap.groupSearchBase }}"
String managerDN = "{{ ldap.managerDN }}"
String managerPassword = "{{ ldap.managerPasswordSecret }}"
boolean inhibitInferRootDN = false
      
SecurityRealm ldap_realm = new LDAPSecurityRealm(server, rootDN, userSearchBase, userSearch, groupSearchBase, managerDN, managerPassword, inhibitInferRootDN) 
Jenkins.instance.setSecurityRealm(ldap_realm)
#Jenkins.instance.authorizationStrategy = new FullControlOnceLoggedInAuthorizationStrategy() ;
Jenkins.instance.authorizationStrategy = Jenkins.getAuthorizationStrategy()
Jenkins.instance.save()
{% endif %}

